body {
	font-family: Arial;
}
label {
	width: 150px;
	float: left;
}
input {
	width: 150px;
}
input.submit {
	width: 40px;
	height: 25px;
}
table.gebruikers {
	width: 800px;
}
table.gebruikers td {
	width: 15%;
}

.errorblock {
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}
.error {
	color: #ff0000;
}

